.btn {
    padding: 10px 20px;
    border: 1px solid #f9ab55;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    color: #011117;
    background-color: #f9ab55;
}
.btn:hover {
    background-color: #eea352;
}

.btn__input {
    width: 15em;
}

.btn__order,
.btn__reset {
    width: 100%;
    margin-top: 20px;
}

.btn__reset {
    border: 1px solid#e4e4e4;
    background-color: #e4e4e4;
}
.btn__reset:hover {
    background-color: #d1d1d1;
}
