@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body,
button,
input {
    font-family: "Poppins", sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

#app__header {
    margin-top: 2em;
}

#app__content__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#app__content--left,
#app__content--right {
    padding: 2em 3em;
}

#app__content__btns {
    display: flex;
}

#app__content__btns button:first-of-type {
    margin-right: 20px;
}

@media all and (max-width: 1035px) {
    #app__header {
        margin-top: 0.7em;
    }
}
